$colorPrimario: #3B5978;
$colorBlanco: #FFFFFF;
footer
{
    flex-direction: column;
    align-items: end;
    height: 175vh;
    display: grid;
    min-height: 10vh;
    flex-direction: column;
    .contenedorFooter
    {
        height: 200px;
        background-color: $colorPrimario;
        width: 100%;
        height: 350px;
        .subContenedor
        {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            color: #FFFFFF;
            align-content: center;
            justify-content: center;
            .titulo
            {
                width: 25%;
                padding: 10px;
                padding-top: 3%;
                margin-bottom: 5%;
                align-content: center;
                margin-left: 2%;
                margin-bottom: 70px;
                margin-top: 6%;
                .txt
                {
                    margin-bottom: 50px;
                    padding: 5px;
                    display: flex;
                    flex-direction: row;
                    img
                    {
                        width: 16px;
                        margin-left: 10px;
                        opacity: 0.5;
                        margin-top: 2px;
                    }
                }
                p
                {
                    width: 300px;
                    font-size: 16px;
                    margin-right: -5px;
                    padding: 2px;
                    margin-top: 20px;
                }
            }
            .contenido
            {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 10px;
                margin-left: 10%;
                a
                {
                    list-style: none;
                    text-decoration: none;
                    padding: 10px;
                }

            }
            .links
            {
                display: flex;
                flex-direction: column;
                margin-left: 10%;
                justify-content: center;
                align-items: center;
                text-align: center;
                
                h4
                {
                    font-size: 12px;
                    padding: 10px;
                }
                .boton
                {
                    position: relative;
                    width: 92%;
                    height: 28px;
                    padding: 1px;
                    border-radius: 50px;
                    background-color: $colorBlanco;
                    border: none;
                    &::before
                    {
                        z-index: -1;
                        position: absolute;
                        background-color: $colorPrimario;
                        opacity: 0.2;
                    }
                    input
                    {
                        width: 72%;
                        height: 25px;
                        border-radius: 20px;
                        border:none;
                        font-style: 20%;
                        padding-bottom: 10px;                        
                        align-items: center;
                        padding: 5px;
                        outline: none;
                        &:focus {
                            border: none;
                        }
                        &:active {
                            border: none;
                        }
                    }
                    a
                    {
                        padding-bottom: 5px;
                        padding-left: 4px;
                        padding-right: 4px;
                        padding-top: 4px;
                        margin-left: 13px;
                        font-size: 14px;
                        border-radius: 10px;
                        color: $colorBlanco;
                        list-style: none;
                        text-decoration: none;
                        background-color: $colorPrimario;   
                        &:hover
                        {
                            color: $colorPrimario;
                            background-color: $colorBlanco;
                            border: 1px solid $colorPrimario;
                        }
                    }
                }
                .redes
                {
                    display:flex ;
                    position: relative;
                    flex-direction: row;
                    width: 100%;
                    align-content: center;
                    padding: 5px;
                    margin: 0 auto;
                    a
                    {
                        margin-left: 60px;
                    }
                    img
                    {
                        width: 20px;
                        margin-top: 10px;
                        &:hover
                        {
                            opacity: 0.4;
                        }
                    }
                }
            }
            
        }
        a,
        h2,
        h4,
        p
        {
            color: #FFFFFF;
        }
    }
    hr
    {
        border: none;
        height: 1px;
        background-color: #87aed5;        
    }
    .Copyrig
    {
        width: 100%;
        height: 30px;
        text-align: center;
        padding-top: 10px;
        font-size: 11px;
        background-color: #3B5978;
        p
        {
            opacity: 0.4;
        }
    }
}